{
    "semi": false,
    "tabWidth": 4,
    "svelteIndentScriptAndStyle": false,
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
