---
import { getPhotos } from "@/utils/cms"
import ContentPageLayout from "@layouts/ContentPageLayout.astro"
import Group from "@components/ContentPage/Group.svelte"
import Gallery from "@components/gallery.svelte"
import Headline from "@/components/_fragments/Headline.svelte"

const photos = await getPhotos()
const photosWithCorrectedTitles = photos.map(([category, photos]) => {
    return [category.replace(/-/g, " "), photos]
})
---

<!-- TODO: Description -->
<ContentPageLayout title="Photo Gallery" description="">
    {
        photos.length ? (
            photosWithCorrectedTitles.map(([category, photos]) => (
                <Group>
                    <Headline direction="left" capitalize>
                        {category}
                    </Headline>
                    <Gallery {photos} client:load />
                </Group>
            ))
        ) : (
            <p>No photos provided.</p>
        )
    }
</ContentPageLayout>
